* { margin: 0; padding: 0; box-sizing: border-box; cursor: url('../assets/sakura-main.png'), auto; }
a, button, input, select { cursor: url('../assets/sakura-hover.png'), pointer !important; }

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fce4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.contenedor-formulario {
    background: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(216, 27, 96, 0.15);
    width: 350px;
    z-index: 100;
}

.campo { margin-bottom: 10px; }
label { display: block; margin-bottom: 3px; color: #ad1457; font-size: 13px; font-weight: bold; }
input, select { width: 100%; padding: 10px; border: 1.5px solid #f8bbd0; border-radius: 10px; }
.fila-doble { display: flex; gap: 10px; }

button {
    width: 100%; padding: 12px;
    background: linear-gradient(45deg, #d81b60, #ec407a);
    color: white; border: none; border-radius: 10px;
    font-weight: bold; margin-top: 10px;
}

.arbol-sakura {
    position: fixed; top: -20px; left: -80px; width: 60vw; max-width: 800px;
    z-index: 10; opacity: 0.8; pointer-events: none; transform: scaleX(-1);
}

.sakura {
    position: fixed; background-color: #ffb7c5;
    border-radius: 150% 0 150% 0; z-index: 50;
    pointer-events: none; animation: fall linear infinite;
}

@keyframes fall {
    0% { top: -10%; transform: rotate(0deg); }
    100% { top: 110%; transform: translateX(100px) rotate(360deg); }
}